.buttonRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  height: 17vh;
}

.lastRow {
  grid-template-columns: 2fr 1fr 1fr;
}

.button {
  border: 1px solid grey;
  font-weight: bolder;
  font-size: 2.5vh;
  padding: 3vh;
}

.type1 {
  background-color: lightgray;
}

.type2 {
  background-color: chocolate;
}

.type3 {
  background-color: darkgray;
}
